.pie-chart {
  display: flex;
  margin: 2em 0;
}

.pie-chart__graphic {
  transform: rotate(-90deg);
  flex: 1;
  max-width: 200px;
}

.pie-chart__labels {
  margin-left: 4em;
  color: #57606f;

  p {
    display: flex;
    align-items: center;
  }
}

.pie-chart__labels__swatch {
  width: 1em;
  height: 1em;
  border-radius: 2px;
  margin-right: 0.5em;
}
